
out/production/Java 2/ru/geekbrains/Dz/Dz2/BMI/BMI.class
*.class
out/production/Java 2/ru/geekbrains/Lessons/Lesson3/Box.class
out/production/Java 2/ru/geekbrains/Lessons/Lesson3/CollectionMain.class
/.idea/
/out/
