#pane{
    -fx-background-image: url("bkgd.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 800 650;
    -fx-background-position: center center;
    -fx-background-color: black;
}

#textArea{

    -fx-font-family: "AmazDooMRight";
    -fx-font-size: 24;
    -fx-padding: 100;
    -fx-border-insets: 100;
    -fx-background-insets: 100;

}

#textField{
    -fx-font-family: "AmazDooMRight";
    -fx-font-size: 20;
    -fx-text-fill: gold;
    -fx-border-color: black;
    -fx-background-color: rgba(0, 0, 0, 0.74);
}

#btn{
    -fx-font-family: "AmazDooMRight";
    -fx-font-size: 20;
    -fx-background-color: rgba(0, 0, 0, 0.74);
    -fx-border-color: black;
}

#musicBtn{
    -fx-font-family: "AmazDooMRight";
    -fx-font-size: 20;
    -fx-background-color: rgba(0, 0, 0, 0.74);
    -fx-border-color: black;
}